body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btns{
    border: 2px solid;
    padding: 10px;
    background-color: navy;
    border-radius: 10px;
}
button{
    padding: 5px;
    width: 80px;
    border-radius: 10px;
}