* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(225, 212, 236), rgb(225, 188, 212), rgb(118, 166, 206));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    height: 400px;
    background-color: black;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
}

.screen {
    height: 60px;
    width: 100%;
    background-color: azure;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10px;
    font-family: monospace;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.operator {
    background-color: orange;
}

.clear {
    grid-column: span 2;
    background-color: chartreuse;
}

.clearEntry {
    grid-column: span 2;
    background-color: chartreuse;
}

.btn {
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;

}

.btn:hover {
    box-shadow: 0px 0px 3px 2px white;
}