body {
    background-color: rgb(240, 242, 245);
    color: rgb(51, 51, 51);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px 0;
}

.signup-card {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    transition: background-color 0.4s, box-shadow 0.4s;
    position: relative;
}

h2 {
    margin-bottom: 5px;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-bottom: 24px;
    transition: color 0.4s;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    transition: all 0.3s;
    outline: none;
}

/* .input-group input:focus{
    border-color: rgb(84, 232, 230);
    box-shadow: 0px 0px 2px 1px rgb(84, 232, 230);
} */

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Toogle Button */
.themebtn {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border-radius: 20px;
    padding: 3px 8px;
}

/* Success Message */
.success-msg{
    color: lawngreen;
    font-size: 17px;
    display: none;
}

/* Validation classes for Error  */
.err-msg{
    color: red;
    font-size: 13px;
    display: none;
}

/* VALID-INPUT - green border or outline for input field */
.input-group input.valid{
    border: 1.5px solid green;
}

/* INVALID-INPUT - red border or outline for input field */
.input-group input.invalid{
    border: 1.5px solid red;
}

/* Add class 'show via JavaScript to make it visible using classList.add('show') */

.err-msg.show{
    display: block;
}





/* Document dark mode */
.dark-mode {
    background-color: black;
}

.dark-mode .signup-card {
    background-color: #333333;
}

.dark-mode .card-title {
    color: lawngreen;
}

.dark-mode label {
    color: lawngreen;
}

.dark-mode .submit-btn {
    background-color: yellow;
    color: black;
}

.dark-mode .themebtn {
    background-color: rgb(200, 231, 74);
    border-color: aqua;
}

.dark-mode .input-group input.valid{
    border: 1.5px solid greenyellow;
}

.dark-mode .input-group input.invalid{
    border: 1.5px solid red;
}
