 .container1 {
            background-color: black;
            text-align: center;
        }

        .container2 {
            background-color: orangered;
            width: 100%;
            height: 850px;
            text-align: center;
        }

        .container3 {
            background-color: black;
            text-align: center;
        }

        .heading {
            margin: 0;
        }